@using Deepcove_Trust_Website.Helpers;

<nav id="sitenav" class="navbar navbar-light navbar-expand-md sticky-top">
    <div class="container-fluid">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/">
            <img src="~/images/logo.png" alt="Logo">
        </a>

        <!-- Navbar Toggle -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#sitenav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="sitenav-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <!-- Manage Users -->
                <li role="presentation" class="nav-item">
                    <a class="nav-link" asp-area="admin" asp-controller="Users">Accounts</a>
                </li>

                <!-- Discover Deep Cove -->
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link"> Discover Deep Cove</a>
                    <div role="menu" class="dropdown-menu">
                        @*<a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="AppSettings">Settings</a>*@
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Manage Content</h6>
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="ManageFactFiles">Fact Files</a>
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="ManageQuizzes">Quizzes</a>
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="ManageTracks">Tracks</a>
                        
                    </div>
                </li>

                <!-- Manage Media -->
                <li role="presentation" class="nav-item">
                    <a class="nav-link" asp-area="admin" asp-controller="Media">Media</a>
                </li>

                <!-- Noticeboard -->
                <li role="presentation" class="nav-item">
                    <a class="nav-link" asp-area="admin" asp-controller="Noticeboard">Noticeboard</a>
                </li>

                <!-- Website -->
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link"> Website</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="WebSettings">Website Settings</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Manage Pages</h6>
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="Page" asp-route-filter="main">Main Website</a>
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="Page" asp-route-filter="education">Education</a>
                    </div>
                </li>

                <!-- Me -->
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link"> Hi @User.AccountNameFirst()</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="Account">Your Settings</a>
                        <a class="dropdown-item" role="presentation" asp-area="admin" asp-controller="Login" asp-action="Logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>