@using Deepcove_Trust_Website.Helpers;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">
            <img src="~/images/logo.png" alt="logo" />
            @*<h4 class="pl-2 d-inline">Admin Portal</h4>*@
        </a>
        <!-- End Brand Logo -->

        <!-- Small Screen Menu Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- End Small Screen Menu Button -->

        <!-- Nav bar for Admins -->
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-shrink-1">
                <!-- To left align use flex-grow-1 -->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="admin-portal" asp-controller="Users" asp-action="Index">Accounts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="admin-portal" asp-controller="ManageMedia" asp-action="Index">Media</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="admin-portal,app" asp-controller="Dashboard" asp-action="Index">Mobile Application</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="admin-portal,web" asp-controller="Page" asp-action="Index" asp-route-filter="main">Website</a>
                </li>

                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" aria-expanded="false" href="#">Hi @User.AccountNameFirst()</a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" role="presentation" asp-area="admin-portal" asp-controller="Account">Account Settings</a>
                        <a class="dropdown-item" role="presentation" asp-controller="Login" asp-action="Logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End Nav bar for Admins -->
    </div>
</nav>