<nav class="navbar navbar-light navbar-expand-md bg-white">
    <div class="container">
        <button data-toggle="collapse" class="navbar-toggler" data-target="#managePhoneNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-xl-flex justify-content-xl-center" id="managePhoneNav">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#">Fact Files</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#">Map Activities</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link">Quizzes</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>