
@*
    Partial that holds the footer - custom css can be found in footer.scss
*@
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Accommodation</h3>
                    <ul>
                        <li><a href="/wanganella.html">Wanganella Apartment</a></li>
                        <li><a href="/wilmot.html">Wilmot Lodge</a></li>
                        <li><a href="/hostel.html">School Hostel</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Activities</h3>
                    <ul>
                        <li><a href="/launch.html">Boat Access</a></li>
                        <li><a href="/bush-walks.html">Bush Walks</a></li>
                        <li><a href="/fishing.html">Fishing</a></li>
                        <li><a href="/bush-skills.html">Bush Skills</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Deep Cove Outdoor Education Trust</h3>
                    <p>
                        Providing accommodation and facilities for tourists and school groups<br>
                        since 1971, allowing people to experience one of New Zealand’s most remote treasures.
                    </p>
                </div>
                <!-- Social Icons -->
                <div class="col item social">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/deepcoveoutdooreducationtrust/">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Email -->
                    <a href="mailto:bookings@deepcovehostel.co.nz">
                        <i class="fas fa-envelope"></i>
                    </a>

                    <!-- Phone -->
                    <a href="#">
                        <i class="fas fa-mobile"></i>
                    </a>
                </div><!-- End Socials -->
            </div>
            <p class="copyright">Deep Cove Outdoor Education Trust © 2019</p>
            <p class="developed">
                Website developed by <a href="https://samuelgrant.dev">Samuel Grant</a>,
                Mitchell Quarrie &amp; Samuel Jackson
            </p>
        </div>
    </footer>
</div>