@{
    var RouteData = ViewContext.RouteData;
    string RouteArea = RouteData.Values.ContainsKey("area") ? RouteData.Values["area"].ToString() : "";

    string description = ViewData["Description"]?.ToString() ?? "The Deep Cove Outdoor Education Trust is a non-profit organisation that was established in 1971. Facilities provided by the trust include a 50 bed Hostel, Lodge, Apartments, Satellite Internet & a boat ramp.";

}
@using Deepcove_Trust_Website.Features.RazorRender
@inject WebSettingsService Settings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@description">
    <meta name="keywords" content="Deep Cove, Deep Cove Outdoor Education Trust, Deep Cove Trust,Deep Cove Hostel, Deep Cove Camp, Deep Cove School Trips, Deep Cove Hostel">
    <meta name="author" content="Samuel Grant, Samuel Jackson and Mitchell Quarrie">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#262626" />
    <title>@ViewData["Title"] - Deep Cove Outdoor Education Trust</title>
    <link rel="stylesheet" href="~/dist/bundle.css" />
    <script src="~/ckeditor/ckeditor.js"></script>
</head>
<body>
    <div class="container content-container">
        <header class="mb-3">
            @if (RouteArea == "")
            {
                await Html.RenderPartialAsync("_Nav.cshtml");
            }
            else if (RouteArea.Contains("admin-portal") || RouteArea.Contains("admin"))
            {
                await Html.RenderPartialAsync("_AdminPortalNav.cshtml");

                if (RouteArea.Contains("admin-portal,web"))
                {
                    await Html.RenderPartialAsync("_AdminPortal_WebNav.cshtml");
                }
                else if (RouteArea.Contains("admin-portal,app"))
                {
                    await Html.RenderPartialAsync("_AdminPortal_AppNav.cshtml");
                }
            }
            else if (RouteArea == "education-portal")
            {

            }
        </header>

        <div class="container container-body">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @{ await Html.RenderPartialAsync("_Footer.cshtml"); }
    </div>

    <script src="~/dist/bundle.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
