@{
    var RouteData = ViewContext.RouteData;
    string RouteArea = RouteData.Values.ContainsKey("area") ? RouteData.Values["area"].ToString() : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="The Deep Cove Outdoor Education Trust is a non-profit organisation that was established in 1971. Facilities provided by the trust include a 50 bed Hostel, Lodge, Apartments, Satellite Internet & a boat ramp.">
    <meta name="keywords" content="Deep Cove, Deep Cove Outdoor Education Trust, Deep Cove Trust,Deep Cove Hostel, Deep Cove Camp, Deep Cove School Trips, Deep Cove Hostel">
    <meta name="author" content="Samuel Grant, Samuel Jackson and Mitchell Quarrie">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deep Cove Outdoor Education Trust</title>

    <link rel="stylesheet" href="~/dist/bundle.css" />

</head>
<body>
    <div class="container content-container">
        @if(RouteArea == "")
        {
            await Html.RenderPartialAsync("_Nav.cshtml");
        }
        else if (RouteArea == "admin-portal")
        {
            await Html.RenderPartialAsync("_AdminPortalNav.cshtml");
        }
        else if (RouteArea == "education-portal")
        {

        }

        <div class="container container-body">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        @{ await Html.RenderPartialAsync("_Footer.cshtml"); }
    </div>
    
    <script src="~/dist/bundle.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
