/* Upload Media Page(s)
-------------------------------------------------- */
.upload-container {
    position: relative;
}

.upload-box {
    border: thin dashed #424242;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 50px 0px 50px 0px;
}

.upload-container:hover {
    transition: 0.33s;
    background-color: rgba(40, 45, 50, 0.15);
}

.upload-container input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    color: transparent;
    cursor: pointer;
}

/* Media Gallery
-------------------------------------------------- */