// Primary theme colour
$color-primary: #628893;
$color-primary-faded: #628893;

.add-category-card {
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 0px;
}

.bground-primary {
    background-color: $color-primary;
}

.category-card {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.category-card p {
    color: #AEAEAE;
}

.category-card:hover p {
    color: #fff;
}

.category-card:hover {
    color: white;
    background-color: $color-primary-faded;
    transition: background-color ease-in 0.1s, color ease-in 0.1s;
    -webkit-transition: background-color ease-in 0.1s, color ease-in 0.1s;
}

// Vertically center text within the card
.category-card h5, .category-card p { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-border {
    border-left: 30px solid $color-primary !important;
}

.min-width-300 {
    min-width: 300px;
}


/* Noticeboard
-------------------------------------------------*/
//Title card
h4.noticeboardSection {
    text-align: center;
    background-color: #262626;
    color: rgb(254, 254, 254);
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
}

// Styles for the notice on the notice board
.notice {
    background-color: #363636;
    color: #999999;
    padding: 12px 8px 12px 8px;
    border-bottom: solid thin #928f8f;
}

.notice > h4 {
    margin-bottom: 0px;
    margin-right: 40px;
    color: white;
}

.notice > small {
    font-size: medium;
    margin-bottom: 7px;
}

.notice > p {
    margin: 6px 0px 6px 0px;
}

.notice.important {
    border-left: solid red thick;
}