// Primary theme colour
$color-primary: #628893;
$color-primary-faded: #ECF2F0;
$color-grey: #AEAEAE;

$primaryColor: #8BC34A; //Green
$primaryColorDark: #262626; //Charcoal
$accentColor: #FF5026; //Orange
$backgroundColor: #363636; //Dark Gray
$indicatorColor: #F44336; //Urgent notice color
$primaryColorLight: #999999; //Grey text color


/* Mobile Phone Preview - Base Styles
----------------------------------------------------------*/
.screen {
    background-color: $backgroundColor !important;
    color: $primaryColorLight;
    font-family: 'Roboto', sans-serif;
}

.screen h4 {
    text-align: center;
    color: #ffffff;
    padding: 20px 0px 5px 0px;
    margin-bottom: 0px;
}

.screen > hr {
    color: $primaryColorDark;
    background-color: $primaryColorDark;
    margin-left: 10px;
    margin-right: 10px;
}

/* Mobile Phone Preview - Noticeboard Styles
----------------------------------------------------------*/
h4.noticeboardSection {
    text-align: center;
    background-color: #262626;
    color: rgb(254, 254, 254);
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
}


.notice {
    padding: 12px 8px 12px 8px;
}

.notice > h4 {
    color: white;
    padding: 0px 40px 0px 0px !important;
    text-align: left !important;
}

.notice > small {
    font-size: medium;
    margin-bottom: 7px;
}

.notice > p {
    margin: 6px 0px 6px 0px;
}

.notice.important {
    border-left: solid $indicatorColor thick;
}


/* Mobile Phone Preview - Fact File Styles
* @jacksos101 - Please talk to me about these styles.
* Are these mobile phone preview only or editor styles as well?
* Can your two color vars use mine or are they both needed?
----------------------------------------------------------*/
.add-list-card {
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 0px;
}

.bground-primary {
    background-color: $color-primary;
}

#bodyText{
    resize: none;
    min-height: 300px;
}

.center-text{
    text-align: center;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.control-buttons {
    transition: max-height ease-in 0.5s, padding linear 0.5s;
    -webkit-transition: max-height ease-in 0.5s, padding linear 0.5s;
    max-height: 0px;
    z-index: 9999;
    background: linear-gradient(#1F4863 -50px, $color-primary 30px, #1F4863 110px);
    width: 100vw;
    position: fixed;
    left: 0px;
    bottom: 0px;

    &-show {
        max-height: 100px;
        padding: 5px;
    }
}

#entry-dropdown {
    background-color: $color-primary-faded;

    & select {
        display: inline-block !important;
        width: calc(100% - 125px);
        height: 50px !important;
        margin: 15px !important;
    }    

    & button {
        height: 50px !important;
    }
}

.image-card{
    cursor: pointer;
    background-color: $color-primary;
    
    &:hover:not(.selected-image-card){
        border: 4px solid $color-primary-faded !important;
    }
}

.main-image-card {
    border: 4px solid $color-primary !important;
}

.selected-image-card{
    border: 4px solid yellow !important;
}

.new-image-card, .new-nugget-card, .new-audio-card {
    cursor: pointer;
    height: 100%;
    color: $color-grey;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
        color: white;
        background-color: $color-primary;
    }
    /* Center the 'add new' icon */
    & > div {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        & > div {
            color: $color-primary;

            &:hover {
                color: white;
            }
        }
    }
}

.image-card-label{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    margin-bottom: 0px;
    background-color: $color-primary;
    color: #fff;
}

@media only screen and (min-width: 992px){
    #entries{
        height: 60vh;
        overflow-y: auto;
    }
}

label.list-card input[type="radio"]{
    display:none;
}

label.list-card h5, label.list-card p {
    position: relative !important;
    top: 50%;
    transform: translateY(-50%);
}

.list-card {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    height: 60px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: $color-primary;
        transition: background-color ease-in 0.1s, color ease-in 0.1s;
        -webkit-transition: background-color ease-in 0.1s, color ease-in 0.1s;
    }

    & small, span {
        color: #AEAEAE;
    }

    &:hover small, &:hover span {
        color: #fff;
    }

    & h5 {
        @extend .vertically-center;
    }

    &.active {
        @extend .list-card:hover;
    }
}

// Vertically center text within the card
.vertically-center { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-border {
    border-left: 30px solid $color-primary !important;
}

.p-link{
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.show-large{
    display: none;
}

@media only screen and (min-width: 992px){
    .show-small{
        display: none;
    }
    .show-large{
        display: initial;
    }
}

.nugget-text{
    & textarea{
        resize: none;
        min-height: 40px;
    }
}

.nugget-image {
    @extend .center-text;
    max-width: 125px;
    text-align: center;
    cursor: pointer;

    & p {
        text-decoration: underline;
    }
}

.bg-trans{
    background-color: rgba(254, 254, 254, 0.7);
}

.btn-gray {
    border: none !important;
    background-color: white;
    color: $color-grey;

    &:hover {
        color: #666666;
    }

    &:focus{
        border: none;
        box-shadow: none;
    }
}

.nugget-controls{
    position: absolute;
    top: 0px;
    right: 5px;
}

.sticky-preview{
    position: sticky;
    top: calc(50vh - 340px);
}