@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Primary theme colour
$color-primary: #628893;
$color-primary-faded: #628893;

$primaryColor: #8BC34A; //Green
$primaryColorDark: #262626; //Charcoal
$accentColor: #FF5026; //Orange
$backgroundColor: #363636; //Dark Gray
$indicatorColor: #F44336; //Urgent notice color
$primaryColorLight: #999999; //Grey text color


/* Mobile Phone Preview - Base Styles
----------------------------------------------------------*/
.screen {
    background-color: $backgroundColor !important;
    color: $primaryColorLight;
    font-family: 'Roboto', sans-serif;
}

.screen h4 {
    text-align: center;
    color: #ffffff;
    padding: 20px 0px 5px 0px;
    margin-bottom: 0px;
}

.screen > hr {
    color: $primaryColorDark;
    background-color: $primaryColorDark;
    margin-left: 10px;
    margin-right: 10px;
}

/* Mobile Phone Preview - Noticeboard Styles
----------------------------------------------------------*/
h4.noticeboardSection {
    text-align: center;
    background-color: #262626;
    color: rgb(254, 254, 254);
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
}


.notice {
    padding: 12px 8px 12px 8px;
}

.notice > h4 {
    color: white;
    padding: 0px 40px 0px 0px !important;
    text-align: left !important;
}

.notice > small {
    font-size: medium;
    margin-bottom: 7px;
}

.notice > p {
    margin: 6px 0px 6px 0px;
}

.notice.important {
    border-left: solid $indicatorColor thick;
}


/* Mobile Phone Preview - Fact File Styles
* @jacksos101 - Please talk to me about these styles.
* Are these mobile phone preview only or editor styles as well?
* Can your two color vars use mine or are they both needed?
----------------------------------------------------------*/
.add-category-card {
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 0px;
}

.bground-primary {
    background-color: $color-primary;
}

.category-card {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.category-card p {
    color: #AEAEAE;
}

.category-card:hover p {
    color: #fff;
}

.category-card:hover {
    color: white;
    background-color: $color-primary-faded;
    transition: background-color ease-in 0.1s, color ease-in 0.1s;
    -webkit-transition: background-color ease-in 0.1s, color ease-in 0.1s;
}

// Vertically center text within the card
.category-card h5, .category-card p { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-border {
    border-left: 30px solid $color-primary !important;
}

.min-width-300 {
    min-width: 300px;
}