/* 
* @author: Samuel Grant
* @date: 02 Febuary 2020
* @project: Deep Cove Website
* @ desc: CSS For custom navbar, 
* CSS only applies to nav bar with the ID #sitenav
*/

/* Veriables and Imports
-------------------------------------------- */
$textColor: black; // Text color
$activeColor: #628893; // highlight  for ::hover
$animation: all 0.35s ease-in-out; // Animation settings
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* Base navarbar style
-------------------------------------------- */
nav#sitenav.navbar {
    background-color: white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#sitenav {
    @media(max-width: 768px){
        .dropdown-item, .nav-item, .dropdown-item {
            text-align: center;
            padding: 10px 0px!important;
            border: none;
        }

        .dropdown-menu {
            border: none;
            text-align: center;
        }
    }
    
    .navbar-brand img {
        max-height: 75px;
    }

    .nav-item {
        padding: 0px 0px;
        color: $textColor;
        position: relative;
    }

    .nav-link, .outline-link:hover, .outline-link.active {
        outline: none;
    }

    .dropdown-menu {
        display: block;
        max-height: 0;
        visibility: hidden;
        transition: $animation;
        overflow: hidden;
        border-radius: 0;
    }

    .show > .dropdown-menu {
        max-height: 900px;
        visibility: visible;
    }

    .dropdown-toggle{
        cursor: pointer;
    }

    a.dropdown-toggle::after {
        color: black;
    }
    /* Drop down item
-------------------------------------------- */
    .dropdown-item:hover {
        background-color: $activeColor !important;
        color: white;
        transition: $animation;
    }

    .dropdown-item {
        padding: 10px 24px;
    }

    .dropdown-menu {
        padding: 0px;
    }
    /* Nav hover effect
-------------------------------------------- */
    .nav-item > a {
        position: relative;
        color: #000 !important;
        text-decoration: none;
    }

    .nav-item > a:hover {
        color: $activeColor !important;
        transition: $animation;
    }

    .nav-item > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $activeColor;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: $animation;
        transition: $animation;
    }

    .nav-item > a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}