// Primary theme colour
$color-primary: #628893;
$color-primary-faded: #ECF2F0;
$color-grey: #AEAEAE;

// App preview colors
$primaryColor: #8BC34A; //Green
$primaryColorDark: #262626; //Charcoal
$accentColor: #FF5026; //Orange
$backgroundColor: #363636; //Dark Gray
$indicatorColor: #F44336; //Urgent notice color
$primaryColorLight: #999999; //Grey text color
