
@{
    ViewData["Title"] = ViewData["pageName"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id=@string.Format("react_template_{0}", ViewData["templateId"]) data-pageId=@ViewData["pageId"]></div>