@{
    ViewData["Title"] = "Page Not Found";
}

<style>
    .login-clean form {
        max-width: 620px;
        background: none;
    }

    .container.content-container {
        background-color: none;
    }
</style>

<div id="react_errorNotFoundError"></div>