@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
}

    <p style="font-size: 14px;">
        You are receiving this email because an administrator has activated your account. Click the button below to login. From there you will be able to change your account details and make use of administrator functions.
    </p>

<p style="text-align: center; margin: 50px;">
    <a class="btn btn-primary" role="button" style="background-color:#EB7035; border:1px solid #EB7035; border-radius:3px; color:#ffffff; display:inline-block; font-family:sans-serif; font-size:16px; line-height:44px; text-align:center; text-decoration:none; width:150px; -webkit-text-size-adjust:none; mso-hide:all;" href="/login">Admin Login</a>
</p>