@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
}

@model  Deepcove_Trust_Website.Views.Emails.Models.PasswordReset

<p style="font-size: 14px;">
    You are receiving this email because we recently received a request to reset your password. If you did not request a password reset you can ignore this email. The password reset link is only valid for 30 minutes.
</p>

<p style="text-align: center; margin: 50px;">
    <a class="btn btn-primary" role="button" style="background-color:#EB7035; border:1px solid #EB7035; border-radius:3px; color:#ffffff; display:inline-block; font-family:sans-serif; font-size:16px; line-height:44px; text-align:center; text-decoration:none; width:150px; -webkit-text-size-adjust:none; mso-hide:all;" href=@($"{Model.baseUrl}reset-password/{Model.token}")>Reset My Password</a>
</p>

<p style="font-size: 14px;">
    If you are having issues with the password reset button, copy and paste the url below into your web browser.
    <a href=@($"{Model.baseUrl}reset-password/{Model.token}") style="color: #71777D;">@($"{Model.baseUrl}reset-password/{Model.token}")</a>
</p>