
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Dashboard</h1>
<p>Has a special navbar that shows</p>
<ul>
    <li>Manage Website</li>
    <li>Manage App</li>
    <li>User Accounts</li>
</ul>

